<div class="container">
    <div class="col-md-6 offset-md-2 mt-1">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Website</th>
                <th>Address</th>
            </tr>
        </thead>    
        <tbody>
            <tr *ngFor="let us of ser.smUsers;index as i">
                <td>{{i+1}}</td>
                <td>{{us.name}}</td>
                <td>{{us.username}}</td>
                <td>{{us.email}}</td>
                <td>{{us.website}}</td>
                <td colspan=4>{{us.address.street}}<br>
                                {{us.address.suite}}<br>
                                {{us.address.city}}<br>
                                {{us.address.zipcode}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>